<!DOCTYPE html>
<html lang="es">

<head>

  <%- include('../partials/head') %>
    <%- include('../partials/scritps') %>
      <link rel="icon" type="image/x-icon" href="/images/favicon-editar.png">
      <title>Cancat - Editar Producto</title>

</head>

<body class="dashboard-body">

  <header>
    <%- include('../partials/header-dashboard') %>
  </header>

  <main class="create-form">
    <section class="row my-2">
        <div class="col-10 col-md-9 mx-auto">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/admin/dashboard" class="text-primary">Home Dashboard</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Editar articulo</li>
                        </ol>
                      </nav>
                </div>
                <div class="card-body">
                    <form action="/productos/update/<%= id %>?_method=PUT" method="POST" style=" background-color: rgb(245, 245, 245);" class="row d-flex justify-content-center align-items-center " enctype="multipart/form-data">
                          <h3>Editando:   "<%= name %>"</h3>
                          
                          <div class="row justify-content-center gap-3 align-items-center" >
                            
                          <div class="col-12 col-md-4 mb-3 ">
                              <div class="form-floating p-1">
                                  <input name="nombre" type="text" class="form-control" id="nombre" value="<%= name %>" style=" height: auto;border-color: rgb(10, 99, 150);">
                                  <label for="nombre">Nombre del articulo</label>
                                </div>
                          </div>
                          <div class="col-12 col-md-4 mb-3">
                            <div class="form-floating p-1">
                                <input name="precio" style=" height: auto; border-color: rgb(10, 99, 150);" type="number" class="form-control" id="precio" value="<%= price %>" >
                                <label for="precio">Precio actual: </label>
                            </div>
                          </div>
                          </div>

                          <div class="row d-flex flex-wrap justify-content-center mr-4 align-items-center mb-3 w-100">

                          <div class="row d-flex justify-content-center align-items-center gap-2 w-50">
                            <input name="image1" type="file" style="border-color: rgb(10, 99, 150);" class="form-control" id="image1" hidden >
                            <img src="/images/<%= Image_products.length ? Image_products[0].file : "ProductDefault.jpeg" %>" alt="" class="img-thumbnail" id="miniatura1" style="max-width: 100px; max-height: 120px; ">
                            <label class="btn btn-lg btn-outline-dark w-80" for="image1" style="width:auto; height: auto; border-color: rgb(10, 99, 150);">cambiar imagen</label>
                        </div>

                        <div class="row d-flex justify-content-center align-items-center gap-2 w-50">
                          <input  name="image2" type="file" style="border-color: rgb(10, 99, 150);" class="form-control" id="image2" hidden >
                          <img src="/images/<%= Image_products.length > 1 ? Image_products[1].file : "ProductDefault.jpeg" %>" alt="" class="img-thumbnail" id="miniatura2" style="max-width: 100px; max-height: 120px; ">
                          <label class="btn btn-lg btn-outline-dark w-80" for="image2" style="width:auto; height: auto; border-color: rgb(10, 99, 150);">cambiar imagen</label>
                        </div>
                        
                        </div>
                      <div class="row justify-content-center gap-4  align-items-center">
                        
                          <div class="col-12 col-md-4 mb-3">
                            <div class="form-floating p-1">
                                <select name="categoria" class="form-select" id="category" aria-label="Floating label select example" style="height: auto; border-color: rgb(10, 99, 150);">
                                  <option value="" selected hidden></option>

                                    <% especies.forEach(item => { %>

                                     <option value="<%= item.id %>" <%= (item.id && mascotas.specieId == item.id) && "selected" %> ><%= item.name %></option>
                                     
                                    <% }) %>
                                </select>
                                <label for="categoria">Especie</label>
                              </div>
                          </div>
                       
                        <div class="col-12 col-md-4 mb-3">
                          <div class="form-floating p-1">
                              <input name="stock" style="height: auto; border-color: rgb(10, 99, 150);" type="number" class="form-control" id="stock" value="<%= product_stock[0].amount %>">
                              <label for="stock">Stock actual:</label>
                          </div>
                        </div>
                      </div>

                      <div class="row justify-content-center gap-4  align-items-center">
                            <div class="col-12 col-md-4 mb-3 w-20">
                              <div class="form-floating p-1" >
                                  <select name="sabores" class="form-select" id="sabores" style="height: auto; border-color: rgb(10, 99, 150);" aria-label="Floating label select example">
                                    <option value="" selected hidden></option>

                                    <% sabores.forEach(item => { %>

                                     <option value="<%= item.id %>" <%= (item.id && product_stock[0].flavorId == item.id) && "selected" %> ><%= item.name %></option>
                                     
                                    <% }) %>
                                    
                                  </select>
                                  <label for="flavor">Sabor</label>
                              </div>
                            </div>
                          <div class="col-12 col-md-4 mb-3 w-20">
                            <div class="form-floating p-1">
                                <input name="descuento" type="number" style="height: auto; border-color: rgb(10, 99, 150);" class="form-control" id="descuento" value="<%= discount %>">
                                <label  for="descuento" >Descuento -% </label>
                            </div>
                          </div>
                      </div>

                         
                         <div class="row d-flex justify-content-end  align-items-center w-50">
                          
                             <div class="col-12 col-md-5 mb-3 w-50">  
                             <div class="form-floating p-1 ">
                                       <select name="measure" class="form-select" id="measure" aria-label="Floating label select example" style="width:100%; border-color: rgb(10, 99, 150);">
                                           <option value="" selected hidden></option>

                                           <% filing.forEach(fili => { %>
                                            <option value="<%= fili.measure %>" <%= product_filing.measure == fili.measure ? 'selected' : '' %>><%= fili.measure %></option>
                                          <% }) %>

                                       </select>
                                       <label for="measure">kg</label>
                                   </div>
                                 </div>
                           
                             
                                 <div class="col-12 col-md-5 mb-3 w-20">
                                   <div class="form-floating p-1">
                                     <input name="value" type="number" class="form-control" id="value" style="width: 60%;border-color: rgb(10, 99, 150);" value="<%= product_filing.value %>" >
                                     <label  for="value"> valor</label>
                                 </div>
                               </div>
                             </div>
                             
                              <div class="row d-flex justify-content-start col-12 col-md-5 mb-3 w-20">
                               <div class="form-floating p-1">
                                 <input name="brand" type="text" class="form-control " id="brand" style=" width: 85%; height: auto; border-color: rgb(10, 99, 150)" value="<%= product_brand.name %>">
                                 <label for="brand">Marca</label>
                               </div>
                             </div>

                        <div class="col-10 mb-3">
                            <div class="form-floating p-1">
                              
                                <label for="descripcion"></label>
                                <textarea name="descripcion" class="form-control p-2" id="descripcion" style=" height:100px; border-color: rgb(10, 99, 150);" ><%= description %></textarea>
                                
                              </div>
                        </div>
                        <div class="col-7 d-flex justify-content-center" style=" transition: all 0.01s;">
                          <button class="btn btn-lg btn-dark mb-3">Guardar cambios</button>
                        
                          <!-- efecto del boton -->
                      <style>.btn:hover {transform: scale(1.01);}</style>

                 </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
  </main>
  <%- include('../partials/script-edit-product') %>
</body>
</html>