<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/scritps') %>
    <%- include('../partials/head',{ title : "agregar-articulos" }) %>
      <link rel="icon" type="image/x-icon" href="/images/favicon-agregar.png" />
      <title>CanCat - Agregar Productos</title>
</head>

<body class="dashboard-body">
  <header>
    <%- include('../partials/header-dashboard') %>
  </header>
  <main class="create-form">
    <section class="row my-2">
      <div class="col-10 col-md-9 mx-auto">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/dashboard" class="text-primary">Home Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Agregar Productos</li>
              </ol>
            </nav>
          </div>
          <div class="card-body">
            <form action="/productos/store" method="post" style="background-color: rgb(245, 245, 245);"
              class="row d-flex justify-content-center align-items-center" enctype="multipart/form-data">
              <h3>Agregar Articulos</h3>

              <div class="row d-flex gap-2 justify-content-center align-item-center mt-2">

                <div class="col-12 col-md-5 mb-3">
                  <div class="form-floating">
                    <input name="nombre" type="text"
                      class="form-control <%= (locals.errors && errors.nombre) ? 'is-invalid' : '' %>" id="nombre"
                      style="padding-bottom: 0px;" value="<%= locals.old && old.nombre%>">
                    <label for="nombre">Nombre del articulo</label>
                    <div class="invalid-feedback">
                      <%= (locals.errors && errors.nombre) ? errors.nombre.msg : '' %>
                    </div>
                    <span id="error-nombre" class="error"></span>
                  </div>
                </div>



                <div class="col-12 col-md-5 mb-3">
                  <div class="form-floating">
                    <select name="categoria"
                      class="form-select <%= (locals.errors && errors.categoria) ? 'is-invalid' : '' %>" id="categoria"
                      st aria-label="Floating label select example" style="width:100%; padding-bottom: 0px; ">
                      <option value="" <%=locals.old && old.categoria=='' ? 'selected' : '' %> selected hidden></option>
                      <option value="1" selected>Perro</option>
                      <option value="2" <%=locals.old && old.categoria=='2' ? 'selected' : '' %> >Gato</option>
                      <option value="3" <%=locals.old && old.categoria=='3' ? 'selected' : '' %> >Ave</option>
                      <option value="4" <%=locals.old && old.categoria=='4' ? 'selected' : '' %> >Pece</option>
                      <option value="5" <%=locals.old && old.categoria=='5' ? 'selected' : '' %> >Roedor</option>
                      <option value="6" <%=locals.old && old.categoria=='6' ? 'selected' : '' %> >Otro</option>
                    </select>
                    <label for="categoria">Especie</label>
                    <div class="invalid-feedback">
                      <%= (locals.errors && errors.categoria) ? errors.categoria.msg : '' %>
                    </div>
                    <span id="error-categoria" class="error"></span>
                  </div>
                </div>


                <div class="row d-flex flex-wrap justify-content-center mr-4 align-items-center mb-3 w-100">

                  <div class="row d-flex justify-content-center align-items-center gap-4 w-50">
                    <input name="image1" type="file" class="form-control <%= (locals.errors && errors.image1) ? 'is-invalid' : '' %> " id="image1" hidden>
                    <img src="/images/new-product.default.png" alt="Primera imagen de la lista" class="img-thumbnail"
                      id="miniatura1" style="max-width: 100px; max-height: 120px; ">
                    <label class="btn btn-lg btn-outline-dark w-80" for="image1"
                      style="width:auto; height: auto; ">Agregar imagen</label>
                      <span id="error-image1" class="error"></span>
                      <div class="invalid-feedback align-items-center text-center">
                        <%= (locals.errors && errors.image1) ? errors.image1.msg : '' %>
                      </div>
                  </div>

                  <div class="row d-flex justify-content-center align-items-center gap-4 w-50">
                    <input name="image2" type="file" class="form-control <%= (locals.errors && errors.image2) ? 'is-invalid' : '' %> " id="image2" id="image2" hidden>
                    <img src="/images/new-product.default.png" alt="Segunda imagen de la lista" class="img-thumbnail"
                      id="miniatura2" style="max-width: 100px; max-height: 120px;">
                    <label class="btn btn-lg btn-outline-dark w-80" for="image2"
                      style="width:auto; height: auto; ">Agregar imagen</label>
                      <span id="error-image2" class="error"></span>
                      <div class="invalid-feedback align-items-center text-center">
                        <%= (locals.errors && errors.image2) ? errors.image2.msg : '' %>
                      </div>
                    </div>
                </div>

                <div class="row justify-content-center gap-4  align-items-center">

                </div>

                <div class="col-12 col-md-5 pb-3">
                  <div class="form-floating">
                    <input name="precio" type="number"
                      class="form-control <%= (locals.errors && errors.precio) ? 'is-invalid' : '' %>" id="precio"
                      style="padding-bottom: 0px;" value="<%= locals.old && old.precio %>">
                    <label for="precio">Precio del producto</label>
                    <div class="invalid-feedback">
                      <%= (locals.errors && errors.precio) ? errors.precio.msg : '' %>
                    </div>
                    <span id="error-precio" class="error"></span>
                  </div>
                </div>


                <div class="col-12 col-md-5 mb-3">
                  <div class="form-floating">
                    <input name="stock" type="number"
                      class="form-control <%= (locals.errors && errors.stock) ? 'is-invalid' : '' %>" id="stock"
                      style="padding-bottom: 0px;" value="<%= locals.old && old.stock %>">
                    <label for="stock">Cantidad en stock</label>
                    <div class="invalid-feedback">
                      <%= (locals.errors && errors.stock) ? errors.stock.msg : '' %>
                    </div>
                    <span id="error-stock" class="error"></span>
                  </div>
                </div>


                <div class="col-12 col-md-5 mb-3">
                  <div class="form-floating">
                    <select name="sabores"
                      class="form-select <%= (locals.errors && errors.sabores) ? 'is-invalid' : '' %>" id="sabores"
                      aria-label="Floating label select example" style="width:100%; padding-bottom: 0px;"
                      value="<%= locals.old && old.sabores %>">
                      <option value="" selected hidden></option>
                      <option value="" <%=locals.old && old.sabores=='' ? 'selected' : '' %> selected hidden></option>
                      <option value="1" <%=locals.old && old.sabores=='' ? 'selected' : '' %> >Pescado</option>
                      <option value="2" <%=locals.old && old.sabores=='' ? 'selected' : '' %> >Pollo y Arroz</option>
                      <option value="3" <%=locals.old && old.sabores=='' ? 'selected' : '' %> >Carne y Pollo</option>
                      <option value="4" selected>Carne</option>
                      <option value="5" <%=locals.old && old.sabores=='' ? 'selected' : '' %> >Leche</option>
                      <option value="6" <%=locals.old && old.sabores=='' ? 'selected' : '' %> >Arroz y Pescado</option>
                      <option value="7" <%=locals.old && old.sabores=='' ? 'selected' : '' %> >Pescado y Carne</option>
                      <option value="8" <%=locals.old && old.sabores=='' ? 'selected' : '' %> >Otro</option>
                      <!-- Agrega más opciones si es necesario -->
                    </select>
                    <label for="sabores">Sabores</label>
                    <div class="invalid-feedback">
                      <%= (locals.errors && errors.sabores) ? errors.sabores.msg : '' %>
                    </div>
                    <span id="error-sabores" class="error"></span>
                  </div>
                </div>


                <div class="col-12 col-md-5 mb-3">
                  <div class="form-floating">
                    <input name="descuento" type="number"
                      class="form-control <%= (locals.errors && errors.descuento) ? 'is-invalid' : '' %>" id="descuento"
                      style="padding-bottom: 0px;" value="<%= locals.old && old.descuento %> ">
                    <label for="descuento">Descuento -%</label>
                    <div class="invalid-feedback">
                      <%= (locals.errors && errors.descuento) ? errors.descuento.msg : '' %>
                    </div>
                    <span id="error-descuento" class="error"></span>
                  </div>
                </div>


                <div class="row d-flex justify-content-center align-items-center w-50">

                  <div class="col-12 col-md-5 mb-3 w-50">
                    <div class="form-floating p-1 ">
                      <select name="measure"
                        class="form-control m-0 <%= (locals.errors && errors.measure) ? 'is-invalid' : '' %>"
                        id="measure" aria-label="Floating label select example"
                        style="width:100%; padding-bottom: 0px; ">
                        <option value="" <%=locals.old && old.sabores=='' ? 'selected' : '' %> selected hidden></option>
                        <option value="" <%=locals.old && old.measure=='' ? 'selected' : '' %> selected hidden></option>
                        <option value="1" selected>Kilogramos</option>
                        <option value="2" <%=locals.old && old.measure=='' ? 'selected' : '' %> >Gramos</option>
                        <option value="3" <%=locals.old && old.measure=='' ? 'selected' : '' %> >Largo</option>
                        <option value="4" <%=locals.old && old.measure=='' ? 'selected' : '' %> >Ancho</option>
                        <option value="5" <%=locals.old && old.measure=='' ? 'selected' : '' %> >Alto</option>
                        <option value="6" <%=locals.old && old.measure=='' ? 'selected' : '' %> >Otro</option>
                        <!-- Agrega más opciones si es necesario -->
                      </select>
                      <label for="measure">Unidad de medida</label>
                      <div class="invalid-feedback">
                        <%= (locals.errors && errors.measure) ? errors.measure.msg : '' %>
                      </div>
                      <span id="error-measure" class="error"></span>
                    </div>
                  </div>

                  <div class="col-12 col-md-5 mb-3 w-20">
                    <div class="form-floating p-1">
                      <input name="value" type="number"
                        class="form-control <%= (locals.errors && errors.value) ? 'is-invalid' : '' %>" id="value"
                        style="width: 60%" style="padding-bottom: 0px;" value="<%= locals.old && old.value %>">
                      <label for="value"> valor</label>
                      <div class="invalid-feedback">
                        <%= (locals.errors && errors.value) ? errors.value.msg : '' %>
                      </div>
                      <span id="error-value" class="error"></span>
                    </div>
                  </div>
                </div>

                <div class="row d-flex justify-content-start col-12 col-md-5 mb-3 w-20">
                  <div class="form-floating p-1">
                    <input name="brand" type="text"
                      class="form-control <%= (locals.errors && errors.brand) ? 'is-invalid' : '' %>" id="brand"
                      style="width: 85%; height: auto; padding-bottom: 0px;" value="<%= locals.old && old.brand %>">
                    <label for="brand">Marca</label>
                    <div class="invalid-feedback">
                      <%= (locals.errors && errors.brand) ? errors.brand.msg : '' %>
                    </div>
                    <span id="error-brand" class="error"></span>
                  </div>
                </div>

                <div class="col-10 mb-3">
                  <div class="form-floating p-1">
                    <textarea name="descripcion"
                      class="form-control <%= (locals.errors && errors.descripcion) ? 'is-invalid' : '' %>"
                      id="descripcion" style="height: 100px; " value="<%= locals.old && old.descripcion %>"></textarea>
                    <label for="descripcion">Descripción...</label>
                    <div class="invalid-feedback">
                      <%= (locals.errors && errors.descripcion) ? errors.descripcion.msg : '' %>
                    </div>
                    <span id="error-descripcion" class="error"></span>
                  </div>
                </div>
              </div>

              <div class="col-7 d-flex justify-content-center" style=" transition: all 0.01s;">
                <button class="btn btn-lg btn-dark">Agregar Producto</button>

                <!-- efecto del boton -->
                <style>
                  .btn:hover {
                    transform: scale(1.01);
                  }
                </style>

              </div>
            </form>

          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="/js/products/create.js"></script>
  <%- include('../partials/script-create-product') %>
</body>

</html>