<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{ title : "Dashboard" }) %>
  <%- include('./partials/scritps') %>
    <link rel="icon" type="image/x-icon" href="/images/favicon-dashboard.png">
    <title>Cancat - Dashboard</title>

    <body class="dashboard-body">

      <%- include('./partials/header-dashboard') %>

        <main class="container mt-3">
          <section class="row">
            <div class="col-12 card-header d-flex justify-content-center mb-4">
              <h3 class="card-title">Productos</h3>

            </div>
            <div class="col-1 col-md-10 col-lg-12 d-flex justify-content-center flex-wrap grid gap-3">
              <% productos.forEach(({id, nombre, descripcion, image1, image2, precio, categoria}, index)=> { %>
                <div class="card col-3 bg-light d-flex flex-xl-column justify-content-between">
                  <div>
                    <img class="mx-auto d-block my-3" src="/images/<%= image1 %>" alt=""
                      style="max-width: 20%; max-height: 20%;">
                    <div class="col-12">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <strong>Id: </strong>
                          <%= id %>
                        </li>
                        <li class="list-group-item"> <strong>Nombre: </strong>
                          <%= nombre %>
                        </li>
                        <li class="list-group-item"> <strong> Descripcion: </strong>
                          <%= descripcion %>
                        </li>
                        <li class="list-group-item"> <strong>Precio </strong>
                          <%= precio %>
                        </li>
                        </li>
                        <li class="list-group-item mb-2"> <strong>Categoria </strong>
                          <%= categoria %>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="d-flex justify-content-around mb-3">
                    <a class="btn btn-sm btn-info col-4" href="/productos/editar-articulo/<%= id %>">Editar</a>

                    <button type="button" data-bs-toggle="modal" data-bs-target="#modalDelete<%= id %>"
                      class="btn btn-sm btn-primary col-4 align-bottom">Eliminar</button>
                  </div>
                </div>



                <% }) %>
            </div>
            <!-- <div class="card shadow rounded">
              <div class="card-header d-flex justify-content-between">
                <h4 class="card-title">Productos</h4>
                <a class="btn btn-outline-primary" href="/productos/agregar-articulos">Nuevo Producto</a>
              </div>
              <div class="p-3 pb-0 table-responsive">


                <table class="table table-striped">
                  <thead class="table-success">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>


                    <% productos.forEach(({id, nombre, descripcion, image1, image2, precio}, index)=> { %>
                      <tr>
                        <th scope="row">
                          <%= index + 1 %>
                        </th>
                        <td>
                          <%= nombre %>
                        </td>
                        <td>
                          <%= descripcion %>
                        </td>

                        <td>
                          <div class="d-flex gap-2">
                            <a class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                              data-bs-target="#exampleModal<%= id %>">
                              <i class="fa-solid fa-eye"></i></a>

                            <a class="btn btn-sm btn-outline-warning" href="/productos/editar-articulo/<%= id %>"><i
                                class="fa-solid fa-pencil"></i></a>

                            <button type="button" data-bs-toggle="modal" data-bs-target="#modalDelete<%= id %>"
                              class="btn btn-sm btn-outline-danger"><i class="fa-solid fa-trash"></i></button>

                            <%- include('./partials/modal-product-dashboard',{ id, nombre, descripcion, image1, image2,
                              precio }) %>

                              <%- include('./partials/modal-delete-product', { id, nombre }) %>

                          </div>
                        </td>

                      </tr>

                      <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
            </div> -->
          </section>
        </main>
    </body>

</html>