<div class="item ">
    <a href="/productos/detalle/<%= id %>">
    <img src="/images/<%= imagen %>" alt="">
    <h3 ><%= nombre %></h3>
    <p class="p_descripcion"> <%= descripcion %></p>
    <p class = Precio_container> <%= precio %> </p>
    <a class="Carrito_detailproduct" href="/Carrito">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></a>
</div>
